<html>
    <body>
        <div class="card">
            <h5 class="card-header">Team Thyme</h5>
            <div class="card-body">
                <h5 class="card-title">The Gossip Project</h5>
                <p class="card-text">made by Fred, helped by Team Thyme.</p>
            </div>
        </div>
    </body>
</html>
